<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zxx17.logistics.mapper.RoleAuthsMapper">

    <resultMap type="org.zxx17.logistics.domain.entity.RoleAuths" id="RoleAuthsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="fromState" column="from_state" jdbcType="VARCHAR"/>
        <result property="toState" column="to_state" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insertAppRoleAuths" parameterType="java.util.List">
        INSERT INTO role_auths (id, role_id, from_state, to_state)
        VALUES
        <foreach item="auth" collection="roleAuthsList" separator=",">
            (#{auth.id}, #{auth.roleId}, #{auth.fromState}, #{auth.toState})
        </foreach>
    </insert>


</mapper>
